bootcmd:
 - mkswap /dev/vdb
 - swapon /dev/vdb
 - pvcreate /dev/vdc
 - vgcreate vgdocker /dev/vdc
 - lvcreate --name lvdocker -l 100%FREE vgdocker
 - mke2fs -j /dev/vgdocker/lvdocker
 - pvcreate /dev/vdd
 - vgcreate vggitolite /dev/vdd
 - lvcreate --name lvgitolite -l 100%FREE vggitolite
 - mke2fs -j /dev/vggitolite/lvgitolite
 - apt-get install -y gh
 - apt-get update
 - cd /root && git clone https://github.com/tomsandholm/agent-tools.git

