#cloud-config
network: 
  version: 2
  ethernets:
    enp1s0:
      dhcp4: no
      dhcp6: no
      addresses:
      - <IPADDRESS>/24
      nameservers: [8.8.8.8, 75.75.75.75]
      routes:
      - to: default
        via: 10.0.0.1
