runcmd:
  - echo '{{ ds.meta_data.role }}' > /etc/role
  - echo '{{ ds.meta_data.aenv }}' > /etc/aenv
  - echo '{{ ds.meta_data.grpname }}' > /etc/grpname
  - update-grub
  - apt autoremove -y
  - groupadd {{ ds.meta_data.grpname }}
  - usermod -aG '{{ ds.meta_data.grpname }}' root
  - usermod -aG '{{ ds.meta_data.grpname }}' jenkins
  - usermod -aG '{{ ds.meta_data.grpname }}' sandholm
  - usermod -aG '{{ ds.meta_data.grpname }}' ansible
  - echo "AllowGroups {{ ds.meta_data.grpname }} sudo" >> /etc/ssh/sshd_config
  - touch /etc/cloud/cloud-init.disabled
  - eject
  - shutdown -h now
