runcmd:
  - echo '{{ ds.meta_data.role }}' > /etc/role
  - echo '{{ ds.meta_data.aenv }}' > /etc/aenv
  - update-grub
  - apt autoremove -y
  - touch /etc/cloud/cloud-init.disabled
  - eject
  - shutdown -h now
  - echo "10.0.0.121 ha1.tsand.org ha1" >> /etc/hosts
  - echo "10.0.0.122 ha2.tsand.org ha2" >> /etc/hosts
  - echo "10.0.0.123 ha3.tsand.org ha3" >> /etc/hosts
