runcmd:
  - echo '{{ ds.meta_data.role }}' > /etc/role
  - echo '{{ ds.meta_data.aenv }}' > /etc/aenv
  - update-grub
  - apt autoremove -y
  - apt-get install software-properties-common
  - apt update
  - apt-get install glusterfs-server
  - mkdir /glusterstorage/dir00
  - systemctl enable glusterd.service
  - touch /etc/cloud/cloud-init.disabled
  - sed -i '/^127.0.1.1/d' /etc/hosts
  - eject
  - echo "10.0.0.131 gl01.tsand.org gl01" >> /etc/hosts
  - echo "10.0.0.132 gl02.tsand.org gl02" >> /etc/hosts
  - echo "10.0.0.133 gl03.tsand.org gl03" >> /etc/hosts
  - echo "10.0.0.134 gl04.tsand.org gl04" >> /etc/hosts
  - echo "10.0.0.135 gl05.tsand.org gl05" >> /etc/hosts
  - echo "10.0.0.136 gl06.tsand.org gl06" >> /etc/hosts
  - echo "10.0.0.137 gl07.tsand.org gl07" >> /etc/hosts
  - echo "10.0.0.138 gl08.tsand.org gl08" >> /etc/hosts
  - shutdown -h now
