apt:
  http_proxy: "http://10.0.0.193:3128"
  https_proxy: "http://10.0.0.193:3128"
  ftp_proxy: "http://10.0.0.193:3128"
  sources:
    jenkins.list:
      source: "deb http://pkg.jenkins.io/debian-stable  binary/"
      keyid: 45F2C3D5

