runcmd:
  - echo '{{ ds.meta_data.role }}' > /etc/role
  - echo '{{ ds.meta_data.aenv }}' > /etc/aenv
  - update-grub
  - apt autoremove -y
  - apt-get install software-properties-common
  - apt update
  - apt-get install glusterfs-server
  - mkdir /glusterstorage/dir00
  - systemctl enable glusterd.service
  - touch /etc/cloud/cloud-init.disabled
  - sed -i '/^127.0.1.1/d' /etc/hosts
  - eject
  - echo "10.0.0.111 tom1.tsand.org tom1" >> /etc/hosts
  - echo "10.0.0.112 tom2.tsand.org tom2" >> /etc/hosts
  - echo "10.0.0.113 tom3.tsand.org tom3" >> /etc/hosts
  - echo "10.0.0.114 tom4.tsand.org tom4" >> /etc/hosts
  - echo "10.0.0.115 tom5.tsand.org tom5" >> /etc/hosts
  - echo "10.0.0.116 tom6.tsand.org tom6" >> /etc/hosts
  - echo "10.0.0.117 tom7.tsand.org tom7" >> /etc/hosts
  - echo "10.0.0.118 tom8.tsand.org tom8" >> /etc/hosts
  - shutdown -h now
