runcmd:
  - echo '{{ ds.meta_data.role }}' > /etc/role
  - echo '{{ ds.meta_data.aenv }}' > /etc/aenv
  - update-grub
  - apt autoremove -y
  - touch /etc/cloud/cloud-init.disabled
  - cd /home/sandholm && chown -R sandholm:sandholm .
  - cd /home/git && chown -R git:git .
  - sudo -u git /usr/bin/bash -c "export HOME=/home/git; git clone https://github.com/sitaramc/gitolite"
  - sudo -u git /usr/bin/bash -c "export HOME=/home/git && mkdir -p /home/git/bin"
  - sudo -u git /usr/bin/bash -c "export HOME=/home/git && gitolite/install -to /home/git/bin"
  - cp /home/sandholm/.ssh/authorized_keys /home/git/sandholm.pub
  - chown -R git:git /home/git/sandholm.pub
  - sudo -u git /usr/bin/bash -c "export HOME=/home/git && /home/git/bin/gitolite setup -pk sandholm.pub"
  - eject
  - shutdown -h now
